{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'SimounetRemindMeBundle:form:entry.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div>
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">{{ 'registration.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
