{% extends "SimounetRemindMeBundle::base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {{ render(controller("SimounetRemindMeBundle:Entry:add")) }}
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, "FOSUserBundle") }}</a>
    {{ render(controller("SimounetRemindMeBundle:Entry:all")) }}
{% endblock %}
